html {
    text-align: center;
    color: black;
    font-size: large;
    background-image: linear-gradient(red, yellow, green);
    min-height: 100vh;
}

p {
    color: whitesmoke;
}

.aboutMe {
    text-align: center;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    border: outset salmon 5px;
    border-radius: 30px;
    background-image: linear-gradient(pink, red);
}

.projects {
    display: flex;
    flex-direction: row;
    border: inset aqua 5px;
    border-radius: 10%;
    background-color: skyblue;
}

.projects > div {
    width: 500px;
    margin: 10px;
}

.zombtn {
    color: rgba(221, 205, 205, 0);
    font-size: 85px;
    background: url(EveningOfTheDead.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.zombies {
    position: relative;
    display: inline-block;
}

.zomContent {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px black;
    z-index: 1;
}

.zomContent p {
    color: black;
    display: block;
}

.zomContent p:hover {
    background-color: white;
}

.zombies:hover .zomContent {
    display: block;
    background-color: rgba(255, 255, 255, 0.8);
}

.zombies:hover .dropbtn {
    background-color: aqua;
}

.evening {
    font-family: fantasy;
    width: 25vw;
}

.empirebtn {
    color: rgba(221, 205, 205, 0);
    font-size: 60px;
    background: url(aoe-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.aoe {
    font-family: fantasy;
    width: 25vw;
}

.ageOfEmpiresTwo {
    position: relative;
    display: inline-block;
}

.empireContent {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px black;
    z-index: 1;
}

.empireContent p {
    color: black;
    display: block;
}

.empireContent p:hover {
    background-color: #ddd;
}

.ageOfEmpiresTwo:hover .empireContent {
    display: block;
    background-color: rgba(255, 255, 255, 0.8);
}

.ageOfEmpiresTwo:hover .dropbtn {
    background-color: aqua;
}

.gamebtn {
    font-size: 50px;
    background-color: skyblue;
}

.game-overflow {
    position: relative;
    display: inline-block;
}

.gameContent {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px black;
    z-index: 1;
}

.gameContent p {
    color: black;
    display: block;
}

.gameContent p:hover {
    background-color: #ddd;
}

.game-overflow:hover .gameContent {
    display: block;
    background-color: rgba(255, 255, 255, 0.8);
}

.game-overflow:hover .dropbtn {
    background-color: aqua;
}

.walkbtn {
    font-size: 50px;
    background-color: skyblue;
}

.a-nice-walk {
    position: relative;
    display: inline-block;
}

.walkContent {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px black;
    z-index: 1;
}

.walkContent p {
    color: black;
    display: block;
}

.walkContent p:hover {
    background-color: #ddd;
}

.a-nice-walk:hover .walkContent {
    display: block;
    background-color: rgba(255, 255, 255, 0.8);
}

.a-nice-walk:hover .dropbtn {
    background-color: aqua;
}


.pageTop {
    background-color: black;
    color: red;
    padding: 10px;
    font-size: 30px;
}

.languages-frameworks {
    border: inset orange 5px;
    border-radius: 10%;
    background-image: linear-gradient(black, orangered);
    position: relative;
    top: 100px;
}


footer {
    color: black;
    font-size: 20px;
    border: black solid 5px;
    margin-top: 198px;
    background-image: linear-gradient(orange, yellow);
}